# Assignment-20

#### Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
Ans:

In [1]:
test1 = 'This is a test of the emergency text system,'
file = open('test.txt','w')
file.write(test1)

44

#### Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
Ans:

In [2]:
file2 = open('test.txt','r')
test2 = file2.readline()
test2

''

#### Q3. Create a CSV file called books.csv by using these lines:
title,author,year   
The Weirdstone of Brisingamen,Alan Garner,1960   
Perdido Street Station,China Miéville,2000    
Thud!,Terry Pratchett,2005    
The Spellman Files,Lisa Lutz,2007    
Small Gods,Terry Pratchett,1992    

Ans:

In [3]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)
    
with open('books.csv','r',newline='') as file:
    for line in file.readlines():
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

#### Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
Ans:

In [4]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS books')
cursor.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

#### Q5. Read books.csv and insert its data into the book table.
Ans:

In [5]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

In [6]:
read_books

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

#### Q6. Select and print the title column from the book table in alphabetical order.
Ans:

In [7]:
cursor.execute('select title from books order by title asc')
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

#### Q7. From the book table, select and print all columns in the order of publication.
Ans:

In [10]:
cursor.execute('select title, author,year from books order by year')

df = pd.DataFrame(cursor.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

#### Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
Ans:

In [11]:
import sqlalchemy
e = sqlalchemy.create_engine("sqlite:///books.db")
rows = e.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

#### Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
Ans:

In [12]:
pip install redis

Requirement already satisfied: redis in c:\users\prakruti\anaconda3\lib\site-packages (4.2.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: deprecated>=1.2.3 in c:\users\prakruti\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\prakruti\anaconda3\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: packaging>=20.4 in c:\users\prakruti\anaconda3\lib\site-packages (from redis) (21.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\prakruti\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\prakruti\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [ ]:
#import redis
conn = redis.Redis()
conn.delete('test')
conn.set('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.get('test')