## SQL Assignment-1

#### Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.
Sol:
select FIRST_NAME as WORKER_NAME from worker;

In [ ]:
select FIRST_NAME as WORKER_NAME from Worker;

#### Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.
Sol: select distinct DEPARTMENT from Worker;

In [ ]:
select distinct DEPARTMENT from Worker;

#### Q-3. Write an SQL query to show the last 5 record from a table.
Sol :(select * from WORKER order by FIRST_NAME desc limit 5) ORDER BY FIRST_NAME ASC;

In [ ]:
(select * from WORKER order by FIRST_NAME desc limit 5) ORDER BY FIRST_NAME ASC;